Repository mhiro2/tf-docs.nvim: changes, and which lefthook commands are due for each by the changed paths.
All: selene, stylua

lefthook.yaml:

output:
  - summary
  - meta

pre-commit:
  parallel: true
  commands:
    selene:
      glob: "{lua,tests}/**/*.lua"
      run: selene {staged_files}
    stylua:
      glob: "*.lua"
      run: stylua --check {staged_files}
    typos:
      run: typos {staged_files}

pre-push:
  parallel: true
  commands:
    lint:
      run: make lint
    test:
      run: make test

refactor: consolidate duplicate read_file function into utils module
  lua/tf-docs/lockfile.lua
  lua/tf-docs/required_providers.lua
  lua/tf-docs/utils.lua
Due: selene, stylua

perf: optimize root detection with limit=1 for early exit
  lua/tf-docs/root.lua
Due: selene, stylua

refactor: replace vim.inspect with tostring for cleaner output
  lua/tf-docs/config.lua
Due: selene, stylua

docs: enhance vimdoc with TOC and numbered sections
  doc/tf-docs.nvim.txt
Due: none

feat: add TfDocList command to browse and open docs for all resources
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/config.lua
  lua/tf-docs/init.lua
  lua/tf-docs/ts.lua
  lua/tf-docs/ui.lua
  tests/test_tf_docs.lua
Due: selene, stylua

docs: add demo section to README with images
  README.md
Due: none

feat: add TfDocVersion command to display provider versions
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/init.lua
  lua/tf-docs/ui.lua
  tests/test_tf_docs.lua
Due: selene, stylua

fix: harden setup reconfiguration and treesitter fallback
  lua/tf-docs/init.lua
  lua/tf-docs/ts.lua
  tests/test_tf_docs.lua
Due: selene, stylua

refactor: improve IO and list resolution flow
  lua/tf-docs/init.lua
  lua/tf-docs/ts.lua
  lua/tf-docs/utils.lua
  tests/test_tf_docs.lua
Due: selene, stylua

chore: configure dependabot
  .github/dependabot.yml
Due: none

chore: add .editorconfig and update .gitignore
  .editorconfig
  .gitignore
Due: none

feat: add context caching for treesitter parsing
  lua/tf-docs/ts.lua
Due: selene, stylua

feat: extract UI backend detection to separate module
  lua/tf-docs/ui_backend.lua
Due: selene, stylua

fix: improve error messages for unresolved docs
  lua/tf-docs/init.lua
Due: selene, stylua

fix: normalize registry.terraform.io prefix in required_providers
  lua/tf-docs/required_providers.lua
Due: selene, stylua

fix: handle vim.ui.open nil return and improve window sizing
  lua/tf-docs/ui.lua
Due: selene, stylua

refactor: add error field to TfDocsTrace
  lua/tf-docs/resolver.lua
Due: selene, stylua

test: reorganize tests into modular files
  tests/helpers.lua
  tests/test_config.lua
  tests/test_parsers.lua
  tests/test_plugin.lua
  tests/test_resolver.lua
  tests/test_root.lua
  tests/test_tf_docs.lua
  tests/test_ts.lua
  tests/test_ui.lua
Due: stylua

chore: align Neovim 0.12 requirements and treesitter docs
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/health.lua
  lua/tf-docs/ui.lua
  tests/test_health.lua
Due: selene, stylua

refactor(ts): consolidate duplicated header and provider-hint logic
  lua/tf-docs/ts.lua
Due: selene, stylua

refactor(config): accept partial config in setup via TfDocsOpts
  lua/tf-docs/config.lua
Due: selene, stylua

feat(api): add public Lua API and route commands through it
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/init.lua
  tests/test_plugin.lua
Due: selene, stylua

feat(url): normalize VCS module sources and restrict open to http(s)
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/ui.lua
  lua/tf-docs/url.lua
  tests/test_parsers.lua
  tests/test_ui.lua
Due: selene, stylua

feat(url): add docs_url builder for explicit doc slugs
  lua/tf-docs/url.lua
  tests/test_url.lua
Due: selene, stylua

feat(registry): resolve real doc slug via Registry API
  lua/tf-docs/cache.lua
  lua/tf-docs/config.lua
  lua/tf-docs/init.lua
  lua/tf-docs/registry.lua
  tests/test_config.lua
  tests/test_registry.lua
Due: selene, stylua

docs: document registry slug resolution and options
  README.md
  doc/tf-docs.nvim.txt
Due: none

refactor(cache): drop unused TTL machinery from resolution cache
  lua/tf-docs/cache.lua
Due: selene, stylua

refactor(ts): tie context cache lifecycle to buffer events
  lua/tf-docs/init.lua
  lua/tf-docs/ts.lua
  tests/helpers.lua
  tests/test_ts.lua
Due: selene, stylua

fix(init): surface lockfile version fallback as an info notice
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/init.lua
  tests/test_plugin.lua
Due: selene, stylua

feat(init): add desc to all user commands
  lua/tf-docs/init.lua
Due: selene, stylua

fix(buffer): isolate resolution state by buffer
  lua/tf-docs/init.lua
  tests/test_plugin.lua
Due: selene, stylua

fix(parser): resolve Terraform context structurally
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/hcl.lua
  lua/tf-docs/health.lua
  lua/tf-docs/init.lua
  lua/tf-docs/resolver.lua
  lua/tf-docs/ts.lua
  tests/helpers.lua
  tests/test_health.lua
  tests/test_parsers.lua
  tests/test_plugin.lua
  tests/test_resolver.lua
  tests/test_ts.lua
Due: selene, stylua

fix(url): normalize module sources without leaking credentials
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/resolver.lua
  lua/tf-docs/url.lua
  tests/test_parsers.lua
  tests/test_resolver.lua
Due: selene, stylua

fix(resolver): separate module and workspace provider state
  README.md
  doc/tf-docs.nvim.txt
  lua/tf-docs/cache.lua
  lua/tf-docs/config.lua
  lua/tf-docs/init.lua
  lua/tf-docs/lockfile.lua
  lua/tf-docs/required_providers.lua
  lua/tf-docs/resolver.lua
  lua/tf-docs/root.lua
  lua/tf-docs/ui.lua
  lua/tf-docs/url.lua
  lua/tf-docs/utils.lua
  tests/fixtures/required_merge/main.tf
  tests/fixtures/workspace_scope/.terraform.lock.hcl
  tests/fixtures/workspace_scope/modules/network/dependencies.tf
  tests/fixtures/workspace_scope/modules/network/resource.tf
  tests/test_config.lua
  tests/test_parsers.lua
  tests/test_plugin.lua
  tests/test_registry.lua
  tests/test_resolver.lua
  tests/test_root.lua
  tests/test_ui.lua
Due: selene, stylua

feat(kinds): resolve docs for ephemeral, action, and list blocks
  lua/tf-docs/hcl.lua
  lua/tf-docs/init.lua
  lua/tf-docs/kinds.lua
  lua/tf-docs/registry.lua
  lua/tf-docs/resolver.lua
  lua/tf-docs/ts.lua
  lua/tf-docs/url.lua
  tests/test_parsers.lua
  tests/test_plugin.lua
  tests/test_registry.lua
  tests/test_resolver.lua
  tests/test_ts.lua
  tests/test_url.lua
Due: selene, stylua

docs: document ephemeral, action, and list block support
  README.md
  doc/tf-docs.nvim.txt
Due: none

refactor(ts): name the buffer listing after blocks, not resources
  lua/tf-docs/init.lua
  lua/tf-docs/ts.lua
  tests/test_plugin.lua
  tests/test_ts.lua
Due: selene, stylua

docs: explain how to use a custom picker with :TfDocList
  README.md
  doc/tf-docs.nvim.txt
Due: none

feat(ui): tag selections with kind and align list labels for pickers
  lua/tf-docs/config.lua
  lua/tf-docs/init.lua
  lua/tf-docs/ui.lua
  tests/test_config.lua
  tests/test_plugin.lua
  tests/test_ui.lua
Due: selene, stylua

fix(ui): detect fzf-lua ui_select registration and align labels by width
  lua/tf-docs/init.lua
  lua/tf-docs/ui.lua
  lua/tf-docs/ui_backend.lua
  tests/test_plugin.lua
  tests/test_ui.lua
Due: selene, stylua
